body {
    background-color: tan;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
}

.btn-grnt {
    margin-top: 8px;

}

.btn-grnt button {
    font: 16px;
    padding: 12px;
    box-sizing: border-box;
    border: none;
    background-color: green;
    border-radius: 4px;
    margin-right: 10px;

}

.btn-grnt button:hover {
    background-color: #090909;
    color: white;
    translate: 1px 2px;
    cursor: pointer;
}


.progress-container {
    width: 250px;
    height: 20px;
    background: tan;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    transition: width 0.4s ease;
}

.strength-label {
    font-weight: bold;
}

.suggestions {
    color: red;
    font-size: 14px;
}

.entropy {
    font-size: 14px;
    margin-top: 10px;
}

.custom-field {
    position: relative;
    font-size: 14px;
    border-top: 20px solid transparent;
    margin-bottom: 20px;
    display: inline-block;
    --field-padding: 12px;
}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #595858;
    padding: var(--field-padding);
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
}

.custom-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 22px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #090909;
    transition:
        top 0.3s ease,
        color 0.3s ease,
        font-size 0.3s ease;
}

.custom-field input.dirty+.placeholder,
.custom-field input:focus+.placeholder,
.custom-field input:not(:placeholder-shown)+.placeholder {
    top: -10px;
    font-size: 10px;
    color: #222;
}

.custom-field .error-message {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 12px;
    background: #d30909;
    color: tan;
    height: 24px;
}

.custom-field .error-message:empty {
    opacity: 0;
}

.custom-field.one input {
    background: none;
    border: 2px solid gray;
    transition: border-color 0.3s ease;
}

.custom-field.one input+.placeholder {
    left: 8px;
    padding: 0 5px;
}

.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus {
    border-color: #222;
    transition-delay: 0.1s
}

.custom-field.one input.dirty+.placeholder,
.custom-field.one input:not(:placeholder-shown)+.placeholder,
.custom-field.one input:focus+.placeholder {
    top: 0;
    font-size: 10px;
    color: #222;
    background: tan;
    width: auto
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}